<%provide :title, "Admin Log" %>
<p> Login as Admin </p>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :login %>
        <%= f.text_field :login %>

        <%= f.label :password %>
        <%= f.password_field :password %>
        <br>
        <%= f.submit "Sign in", class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
