<section id="<%= portfolio.id %>">
    <div class-"page-header">
        <h3><%= portfolio.project_name %></h3>
    </div>
    <h4><%= portfolio.whens %></h4>
    <h4><%= portfolio.description %></h4> 
    <%= link_to "More details", portfolio_path(portfolio) %>
</section>