<section id="<%= @portfolio.id %>">
    
    <%= content_tag :div, class: "row" do %>
        <% if signed_in? %>
            <%= button_to "Edit project", edit_portfolio_path(@portfolio), class: "pull-right", method: "get" %>
        <% end %>
        <%= content_tag :div, content_tag(:h3, @portfolio.project_name), class: "page-header" %>

    <% end %>
    <%= content_tag :row, content_tag(:h4, @portfolio.whens) %>
    <%= content_tag :row, content_tag(:h3, @portfolio.description) %> 
    <%= render template: "functions/index" %>

</section>